*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 6rem 80vh min-content 1fr;
  grid-template-columns: [full-start] minmax(min-content, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(min-content, 1fr) [full-end];
  grid-auto-flow: column; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content 1fr; } }
  @media only screen and (max-width: 31.25em) {
    .container {
      grid-template-rows: 100vh min-content 1fr; } }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  display: inline-block;
  background-image: linear-gradient(45deg, #e45e43, #d53d1f);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 1.4rem 2rem;
  font-family: "Chivo", sans-serif; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Chivo", sans-serif;
  color: #161616;
  font-weight: 400;
  line-height: 1; }

.heading-1 {
  font-size: 4.5rem;
  color: #e45e43; }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 4rem; } }

.heading-2 {
  color: #e45e43;
  font-size: 4rem; }
  @media only screen and (max-width: 50em) {
    .heading-2 {
      font-size: 3.5rem; } }

.heading-3 {
  font-size: 1.8rem; }

.heading-4 {
  font-size: 1.6rem; }

.mb-lg {
  margin-bottom: 8rem; }

.mb-md {
  margin-bottom: 6rem; }

.mb-sm {
  margin-bottom: 4rem; }

.mb-xsm {
  margin-bottom: 2rem; }

.center {
  text-align: center; }

.hamburger-label::before {
  display: none;
  content: "\002630";
  position: absolute;
  font-size: 4rem;
  width: 10px;
  height: 10px;
  color: #ecdbba;
  top: 0.8rem;
  right: 4rem;
  z-index: 100; }
  @media only screen and (max-width: 31.25em) {
    .hamburger-label::before {
      display: block; } }

.hamburger-menu {
  position: absolute;
  display: none;
  top: 0;
  right: 0; }
  .hamburger-menu:checked ~ .navbar {
    display: block; }
  .hamburger-menu:checked + .hamburger-label::before {
    content: "\0000D7";
    right: 3rem; }

.navbar {
  grid-column: full-start / full-end;
  background-color: #e45e43;
  font-family: "Chivo", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ecdbba; }
  @media only screen and (max-width: 31.25em) {
    .navbar {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 16rem;
      padding: 3rem 0 1.5rem;
      border-radius: 3px;
      display: none; } }
  .navbar__list {
    width: 60%;
    margin: 1.5rem auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
    align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .navbar__list {
        width: 70%; } }
    @media only screen and (max-width: 56.25em) {
      .navbar__list {
        width: 80%; } }
    @media only screen and (max-width: 50em) {
      .navbar__list {
        width: 90%; } }
    @media only screen and (max-width: 31.25em) {
      .navbar__list {
        flex-direction: column; } }
  .navbar__item {
    text-align: center;
    font-size: 1.6rem;
    padding: 0 2rem; }
    .navbar__item:not(:last-child) {
      border-right: 1px solid currentColor; }
    @media only screen and (max-width: 31.25em) {
      .navbar__item:not(:last-child) {
        border: none;
        margin-bottom: 1rem; } }

.header {
  grid-column: full-start / col-end 5;
  background-image: linear-gradient(rgba(52, 103, 81, 0.9), rgba(52, 103, 81, 0.95)), url(../img/hotel-1.jpeg);
  background-size: cover;
  background-position: center;
  padding: 4rem 8rem 8rem;
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .header {
      grid-column: full-start / full-end;
      justify-items: center; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      grid-template-columns: min-content; } }
  .header__logo {
    height: 4rem;
    justify-self: center; }
  .header .heading-3 {
    color: #e45e43;
    align-self: flex-end;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400; }
  .header .heading-1 {
    color: #ecdbba; }
    @media only screen and (max-width: 31.25em) {
      .header .heading-1 {
        text-align: center;
        line-height: 1.5; } }
  .header__btn {
    align-self: start;
    justify-self: start;
    padding: 2rem 2.5rem;
    background: #e45e43;
    color: #ecdbba;
    transition: all 0.2s;
    box-shadow: 0 1rem 2rem rgba(22, 22, 22, 0.2); }
    @media only screen and (max-width: 62.5em) {
      .header__btn {
        justify-self: center; } }
    .header__btn:hover {
      transform: translateY(-4px); }
    .header__btn:active {
      transform: translateY(0px); }
  .header__member-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;
    justify-self: stretch;
    font-size: 1.5rem;
    color: #e1c692; }
    .header__member-text::before, .header__member-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__member-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .header__member-logos img {
        width: 15vw; } }

.about {
  grid-column: full-start / full-end;
  max-width: 80%;
  justify-self: center;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 1fr);
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .about {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 42rem;
      row-gap: 5rem;
      margin-bottom: 0rem; } }
  @media only screen and (max-width: 50em) {
    .about {
      row-gap: 0; } }
  @media only screen and (max-width: 62.5em) {
    .about .heading-1 {
      text-align: center;
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    .about__left {
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .about__left {
      width: 90%; } }
  .about__text {
    font-size: 1.8rem;
    margin: 2rem 0; }
  .about__right {
    position: relative;
    height: 100%;
    width: 100%;
    transform: translateY(20%); }
    @media only screen and (max-width: 75em) {
      .about__right {
        transform: none; } }
    @media only screen and (max-width: 50em) {
      .about__right {
        height: 80%; } }
  .about__img-box {
    width: 50%;
    position: absolute;
    content: "";
    transition: all 0.2s;
    padding: 1.5rem;
    border: 0.8rem solid transparent;
    box-sizing: content-box; }
    @media only screen and (max-width: 75em) {
      .about__img-box {
        width: 30vw;
        margin: auto;
        width: 30vw; } }
    .about__img-box--1 {
      top: 20%;
      left: 15%;
      z-index: 1; }
      @media only screen and (max-width: 75em) {
        .about__img-box--1 {
          left: 24%; } }
    .about__img-box--2 {
      top: 5%;
      left: 40%; }
      @media only screen and (max-width: 75em) {
        .about__img-box--2 {
          right: -15%; } }
    .about__img-box--3 {
      top: -5%;
      left: 5%; }
      @media only screen and (max-width: 75em) {
        .about__img-box--3 {
          top: 0;
          left: 0; } }
    .about__img-box:hover {
      z-index: 100;
      outline: 1rem solid #e45e43;
      transform: scale(1.1); }
  .about__img {
    display: block;
    width: 100%;
    object-fit: cover; }

.amenities {
  grid-column: full-start / full-end;
  background-color: #e45e43;
  padding: 5rem 0; }
  .amenities__heading {
    color: #ecdbba; }
  .amenities__content-box {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 5rem auto; }
    @media only screen and (max-width: 62.5em) {
      .amenities__content-box {
        max-width: 90%; } }
    @media only screen and (max-width: 50em) {
      .amenities__content-box {
        flex-direction: column; } }
  .amenities__box {
    padding: 4rem 6rem;
    background-image: linear-gradient(135deg, #f7f0e2, #ecdbba);
    border-radius: 10px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.05);
    flex: 1 0 20vw; }
    .amenities__box:not(:last-child) {
      margin-right: 4rem; }
    @media only screen and (max-width: 62.5em) {
      .amenities__box {
        padding: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .amenities__box {
        padding: 3rem 4rem; } }
    @media only screen and (max-width: 50em) {
      .amenities__box:not(:last-child) {
        margin-bottom: 4rem;
        margin-right: 0; } }
  .amenities__list {
    font-size: 1.6rem;
    list-style: none; }
    @media only screen and (max-width: 50em) {
      .amenities__list {
        column-count: 2; } }
  .amenities__item {
    margin-bottom: 0.8rem; }
    .amenities__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }

.dining-info {
  grid-column: full-start / full-end; }

.dining {
  max-width: 80%;
  margin: 10rem auto; }
  @media only screen and (max-width: 50em) {
    .dining {
      margin: 6rem auto; } }
  .dining__text {
    width: 50%;
    margin: auto;
    font-size: 1.8rem;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .dining__text {
        width: 70%; } }
    @media only screen and (max-width: 50em) {
      .dining__text {
        width: 90%; } }
  .dining__photos {
    width: 80%;
    margin: 5rem auto;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .dining__photos {
        width: 90%; } }
    @media only screen and (max-width: 50em) {
      .dining__photos {
        width: 100%; } }
  .dining__photo {
    transition: all 0.2s;
    box-shadow: 0 1rem 2rem rgba(22, 22, 22, 0.1); }
    .dining__photo:not(:last-child) {
      margin-right: 2rem; }
    .dining__photo:hover {
      transform: scale(1.1) translateY(-5px); }
  .dining__img {
    width: 100%;
    display: block;
    border-radius: 4px; }

.events {
  grid-column: full-start / full-end;
  margin: 10rem auto; }
  @media only screen and (max-width: 50em) {
    .events {
      margin: 6rem auto; } }
  .events__text {
    width: 60%;
    margin: auto;
    font-size: 1.8rem;
    text-align: center; }
  .events__link:link, .events__link:visited {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent 60%, rgba(228, 94, 67, 0.4) 0%);
    transition: all 0.2s;
    background-repeat: no-repeat; }
  .events__link:hover, .events__link:active {
    padding: 0 0.5rem; }

.guests {
  grid-column: col-start 6 / full-end;
  background-color: #346751;
  background-image: linear-gradient(135deg, #234536, #346751);
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 62.5em) {
    .guests {
      grid-column: full-start / full-end;
      padding: 6rem; } }
  .guests__heading {
    font-size: 2.2rem;
    color: #ecdbba; }
  .guests__list {
    display: grid;
    grid-template-columns: 7rem max-content;
    height: 100%;
    align-items: center;
    column-gap: 2rem;
    row-gap: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .guests__list {
        grid-template-columns: repeat(3, minmax(20vw, 1fr));
        justify-items: center;
        text-align: center;
        row-gap: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .guests__list {
        column-gap: 4rem; } }
  .guests__img {
    width: 7rem;
    height: auto;
    border-radius: 50%;
    display: block; }
    @media only screen and (max-width: 62.5em) {
      .guests__img {
        grid-row: 1 / 2; } }
  .guests__details h4 {
    color: #e1c692; }
  .guests__review {
    font-size: 1.6rem;
    color: #ecdbba; }

.resorts {
  grid-column: full-start / full-end;
  max-width: 80%;
  width: 100%;
  margin: 10rem auto 5rem; }
  .resorts__container {
    margin: 5rem auto 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .resorts__container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); } }

.resort {
  transition: all 0.2s;
  padding: 2rem;
  border-radius: 4px; }
  .resort__name {
    font-size: 1.5rem; }
  .resort:hover {
    background-color: #f5ecda;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px); }

.rooms {
  grid-column: full-start / full-end;
  max-width: 80%;
  margin: 8rem auto 5rem; }
  @media only screen and (max-width: 75em) {
    .rooms {
      width: 100%; } }

.rooms-container {
  display: flex;
  justify-content: space-evenly; }
  @media only screen and (max-width: 50em) {
    .rooms-container {
      flex-direction: column; } }

.room {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content 1fr;
  align-content: start; }
  .room:not(:last-child) {
    margin-right: 5rem; }
  @media only screen and (max-width: 50em) {
    .room {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 60%; }
      .room:not(:last-child) {
        margin-bottom: 4rem;
        margin-right: 0; } }
  .room__img-box {
    width: 20vw; }
    @media only screen and (max-width: 75em) {
      .room__img-box {
        width: 25vw; } }
    @media only screen and (max-width: 50em) {
      .room__img-box {
        width: 100%;
        height: 100%;
        justify-self: end; } }
  .room__img {
    width: 100%;
    display: block;
    border-radius: 4px 4px 0 0; }
    @media only screen and (max-width: 50em) {
      .room__img {
        border-radius: 4px 0 0 4px;
        object-fit: cover;
        height: 100%; } }
  .room__details {
    padding: 4rem;
    background-image: linear-gradient(45deg, rgba(236, 219, 186, 0.5), rgba(236, 219, 186, 0.9));
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0.5rem 2rem rgba(22, 22, 22, 0.1);
    display: grid;
    justify-content: center;
    align-content: center; }
    @media only screen and (max-width: 62.5em) {
      .room__details {
        justify-items: center;
        text-align: center; } }
    @media only screen and (max-width: 50em) {
      .room__details {
        justify-items: start;
        text-align: start;
        border-radius: 0 4px 4px 0; } }
    @media only screen and (max-width: 37.5em) {
      .room__details {
        padding: 2rem; } }
  .room__text {
    font-size: 1.6rem; }
  .room__btn {
    justify-self: start;
    margin-top: 2rem;
    position: relative;
    transition: all 0.2s ease-out;
    color: #ecdbba; }
    @media only screen and (max-width: 62.5em) {
      .room__btn {
        justify-self: center; } }
    @media only screen and (max-width: 50em) {
      .room__btn {
        justify-self: start; } }
    .room__btn--visible {
      transition: all 0.2s ease-out;
      display: inline-block; }
    .room__btn--hidden {
      transition: all 0.2s ease-out;
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      z-index: 100;
      opacity: 0; }
    .room__btn:hover {
      background-image: linear-gradient(45deg, #d53d1f, #e45e43); }
    .room__btn:hover .room__btn--visible {
      transform: translateY(200%);
      opacity: 0; }
    .room__btn:hover .room__btn--hidden {
      top: 1.5rem;
      opacity: 1; }

.footer {
  background-color: #161616;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Chivo", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  margin: 6rem auto 0;
  text-align: center;
  color: #ecdbba;
  width: 70%; }
  @media only screen and (max-width: 31.25em) {
    .copyright {
      width: 90%; } }
